.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0 {
    background-color: #ED1D24;
    max-width: 240px;
    display: flex;
    position: relative;
    height: 100vh;
}

.navbarSubtitle {
    color: white;
    text-align: center;
}

.navbarList {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    height: 50%;
    font-size: 1.2rem;
}

.navbarList a {
    text-decoration: none;
    color: white;
}

.navbarLogo {
    max-width: 240px;
}

@media screen and (max-width: 768px) {
    .MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0 {
        display: none;
    }
}